@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  html.dark {
    color-scheme: dark;
  }
}
:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(14, 11, 10);
  --muted: rgb(245, 244, 243);
  --muted-foreground: rgb(145, 135, 126);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(14, 11, 10);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(14, 11, 10);
  --border: rgb(230, 222, 217);
  --input: rgb(230, 222, 217);
  --primary: rgb(0, 106, 255);
  --primary-foreground: rgb(253, 254, 255);
  --secondary: rgb(245, 244, 243);
  --secondary-foreground: rgb(26, 21, 19);
  --accent: rgb(245, 244, 243);
  --accent-foreground: rgb(26, 21, 19);
  --destructive: rgb(255, 59, 48);
  --destructive-foreground: rgb(250, 250, 246);
  --ring: rgb(14, 11, 10);
  --radius: 0.5rem;


  --xarfi-orange: rgb(255, 129, 0);
  --xarfi-orange-light: rgb(255, 155, 51);
  --xarfi-orange-dark: rgb(204, 103, 0);
  --xarfi-orange-foreground: rgb(255, 255, 255);

  --bg-background-secondary: rgb(235, 235, 235);
  --text-secondary-color: rgb(255, 255, 255);
}

.dark {
  --background: rgb(18, 18, 18);
  --foreground: rgb(250, 250, 250);
  --muted: rgb(44, 42, 41);
  --muted-foreground: rgb(163, 161, 160);
  --popover: rgb(10, 10, 10);
  --popover-foreground: rgb(250, 250, 250);
  --card: rgb(10, 10, 10);
  --card-foreground: rgb(250, 250, 250);
  --border: rgb(44, 42, 41);
  --input: rgb(44, 42, 41);
  --primary: rgb(0, 106, 255);
  --primary-foreground: rgb(253, 254, 255);
  --secondary: rgb(44, 42, 41);
  --secondary-foreground: rgb(250, 250, 250);
  --accent: rgb(44, 42, 41);
  --accent-foreground: rgb(250, 250, 250);
  --destructive: rgb(103, 20, 17);
  --destructive-foreground: rgb(250, 250, 250);
  --ring: rgb(211, 210, 216);
  --radius: 0.5rem;


  --xarfi-orange: rgb(255, 129, 0);
  --xarfi-orange-light: rgb(255, 155, 51);
  --xarfi-orange-dark: rgb(204, 103, 0);
  --xarfi-orange-foreground: rgb(255, 255, 255);

  --bg-background-secondary: rgb(30, 30, 30);
  --text-secondary-color: rgb(119, 119, 119);
}


[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .rtl\:mr-auto {
  margin-left: auto;
  margin-right: 0;
}

[dir="rtl"] .rtl\:ml-auto {
  margin-right: auto;
  margin-left: 0;
}

button {
  cursor: pointer;
}

*:not(svg):not(svg *) {
  color: var(--foreground);
  font-family: "Urbanist", sans-serif;
}

.bg-background-secondary {
  background-color: var(--bg-background-secondary) !important;
}

.bg-background {
  background-color: var(--background);
}

.bg-background {
  background-color: var(--background) !important;
}

.bg-card-background {
  background-color: var(--foreground);
}

.text-foreground {
  color: var(--foreground);
}

.bg-card {
  background-color: var(--card);
}

.text-card-foreground {
  color: var(--card-foreground);
}

.bg-popover {
  background-color: var(--popover);
}

.text-popover-foreground {
  color: var(--popover-foreground);
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary-foreground {
  color: var(--primary-foreground);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary-foreground {
  color: var(--secondary-foreground);
}

.bg-muted {
  background-color: var(--muted);
}

.text-muted-foreground {
  color: var(--muted-foreground);
}

.bg-accent {
  background-color: var(--accent);
}

.text-accent-foreground {
  color: var(--accent-foreground);
}

.bg-destructive {
  background-color: var(--destructive);
}

.text-destructive-foreground {
  color: var(--destructive-foreground);
}

.border-border {
  border-color: var(--border);
}

.border-input {
  border-color: var(--input);
}

.ring-ring {
  --tw-ring-color: var(--ring);
}

.bg-sidebar {
  background-color: var(--sidebar-background);
}

.text-sidebar-foreground {
  color: var(--sidebar-foreground);
}

.bg-sidebar-primary {
  background-color: var(--sidebar-primary);
}

.text-sidebar-primary-foreground {
  color: var(--sidebar-primary-foreground);
}

.bg-sidebar-accent {
  background-color: var(--sidebar-accent);
}

.text-sidebar-accent-foreground {
  color: var(--sidebar-accent-foreground);
}

.border-sidebar-border {
  border-color: var(--sidebar-border);
}

.ring-sidebar-ring {
  --tw-ring-color: var(--sidebar-ring);
}

.bg-xarfi-orange {
  background-color: var(--xarfi-orange);
}

.bg-xarfi-orange-light {
  background-color: var(--xarfi-orange-light);
}

.bg-xarfi-orange-dark {
  background-color: var(--xarfi-orange-dark);
}

.text-xarfi-orange {
  color: var(--xarfi-orange) !important;
}

.hover\:text-xarfi-orange:hover {
  color: var(--xarfi-orange) !important;
}

.text-xarfi-orange-foreground {
  color: var(--xarfi-orange-foreground);
}

.text-secondary-color {
  color: var(--text-secondary-color);
}

.font-Urbanist {
  font-family: "Urbanist", sans-serif;
}

.font-Lato {
  font-family: "Lato", sans-serif;
}

.slick-dots button {
  width: 24px !important;
  height: 20px !important;
  border-radius: 100px !important;
  background-color: var(--background) !important;
}

.slick-dots button::before {
  display: none;
}

.slick-dots .slick-active {
  width: 53px !important;
  height: 20px !important;
  transition: 0.2s;
}

.slick-dots .slick-active button {
  width: 53px !important;
  height: 20px !important;
  border-radius: 100px !important;
  background-color: var(--foreground) !important;
  transition: 0.2s;
}

.salonCardSlider .slick-dots button {
  width: 14px !important;
  height: 10px !important;
  border-radius: 100px !important;
  background-color: var(--background) !important;
}

.salonCardSlider .slick-dots {
  bottom: 15px;
}

.salonCardSlider .slick-dots li {
  width: 14px !important;
  height: 10px !important;
  border-radius: 100px !important;
  background-color: var(--background) !important;
}

.salonCardSlider .slick-dots button::before {
  display: none;
}

.salonCardSlider .slick-dots .slick-active {
  width: 30px !important;
  height: 10px !important;
  transition: 0.2s;
}

.salonCardSlider .slick-dots .slick-active button {
  width: 30px !important;
  height: 10px !important;
  border-radius: 100px !important;
  background-color: var(--foreground) !important;
  transition: 0.2s;
}

.TestinomialSlider .slick-slide {
  transition: 0.2s;
}

.TestinomialSlider .mainSlide {
  opacity: 0;
  transition: 0.7s;
}

.TestinomialSlider .prev-slide,
.TestinomialSlider .current-slide,
.TestinomialSlider .next-slide {
  opacity: 1;
}

.TestinomialSlider .slideContent {
  scale: 0.8;
  transition: 0.4s;
}

.TestinomialSlider .current-slide .slideContent {
  scale: 1;
  /* transition: 0.4s; */
}

.TestinomialSlider .slick-slider {
  padding-top: 67px;
}

.TestinomialSlider .slick-dots {
  position: absolute;
  top: 0;
}

.TestinomialSlider .slick-dots button {
  width: 24px !important;
  height: 20px !important;
  border-radius: 100px !important;
  background-color: white !important;
}

.TestinomialSlider .slick-dots .slick-active button {
  width: 53px !important;
  height: 20px !important;
  border-radius: 100px !important;
  background-color: var(--xarfi-orange) !important;
  transition: 0.2s;
}

.navDrawer .ant-drawer-close {
  color: var(--foreground);
}

/* width */
div::-webkit-scrollbar {
  width: 0px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.addServiceModal .ant-modal {
  max-width: 1084px !important;
  width: 100% !important;
}

.addServiceModal .ant-modal-content {
  background-color: var(--background);
  background: var(--background);
  padding: 0px !important;
}


/* .calenderSelect nav {
  right: 0px;
  position: absolute;
  width: 56px;
  left: auto;
} */

.calenderSelect nav button {
  background-color: var(--foreground);
  color: var(--background);
  border-radius: 9999px;
  height: 22px;
  width: 22px;
  aspect-ratio: 1;
  padding: 0px;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  appearance: none !important;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.calenderCustomClass tr{
  margin-top: 0px !important;
}
.rdp-selected button{
  background: #FF8C26 !important;
  background-color: #FF8C26 !important;
  border-radius: 100%;
}
.salonDetailpage .slick-dots{
  bottom: 15px !important;
}